@model List<Website4.Models.DonHang>

@{
    ViewBag.Title = "Hiển Thị Hóa Đơn";
}


<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div>
    <hr />


    <h1 style="color:green;">Danh Sách Hóa Đơn</h1>
    <hr />
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Tên Khách Hàng</th>
                <th>Số điện thoại</th>
                <th>Địa chỉ Nhận Hàng</th>
                <th>Ngày đặt hàng</th>
                <th>Detail</th>
                <th>#</th>
            </tr>
        </thead>
        @foreach (var item in Model)
        {
            <tbody>
                <tr>
                    <td>@item.TenKhachHang</td>
                    <td>@item.SDT</td>
                    <td>@item.DiaChiGiaoHang</td>
                    <td>@string.Format("{0:dd/MM/yyyy}",item.NgayDatHang)</td>
                    <td><a href="~/Home2/DetailDonHang?idDonHang=@item.ID">View more detail</a></td>
                    <td><a href="~/Home2/UpdateDonHang?IDDonHang=@item.ID">Sửa</a> | <a onclick="checkDeleteDonHang(@item.ID)" href="#">Xóa</a></td>
                </tr>
            </tbody>
        }
    </table>
    <a href="~/Home2/AddDonHang">Thêm Mới Hóa Đơn</a>
    <br />
    <a href="~/Home2">Back to Home</a>
</div>
@section script{
    <script>
        var checkDeleteDonHang = function (idDonHang) {
            if (confirm("Bạn muốn xóa đơn hàng này?") == true) {
                location.href = '/Home2/DeleteDonHang?ID=' + idDonHang;
            }
        }
    </script>
    }

