@model List<Website4.Models.KhachHang>
@{
    ViewBag.Title = "Home Page";
}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<h1>Danh Sách Khách Hàng</h1>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Mã KH</th>
            <th>Tên Khách Hàng</th>
            <th>Số điện thoại</th>
            <th>Địa chỉ Nhận Hàng</th>
            <th>Email</th>
            <th>Giới Tính</th>
            <th>Avatar</th>
            <th>#</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tbody>
            <tr>
                <td>@item.IDKH</td>
                <td>@item.TenKhachHang</td>
                <td>@item.SoDienThoai</td>
                <td>@item.DiaChiNhanHang</td>
                <td>@item.Email</td>
                <td>@item.GioiTinh</td>
                <td><img / src="@item.UrlHinhAnh" style="width:150px;height:150px"></td>
                <td><a href="~/Home2/UpdateKhachHang?IDKhachHang=@item.IDKH">Sửa</a> | 
                <a onclick="CheckXoaKH(@item.IDKH)" href="#">Xóa</a></td>

            </tr>
        </tbody>
    }
</table>
<a href="~/Home2/AddNewKhachHang">Thêm Mới Khách Hàng</a>
<br />
<a href="~/Home2">Back to Home</a>

@section script{
    <script>
        var CheckXoaKH = function (idKhachHang) {
            if (confirm("Do you want to delete this customer?") == true)
            {
                location.href = '/Home2/DeleteKhachHang?IDKhachHang=' + idKhachHang
            }
        }

    </script>
    }
